@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,rgb(0, 195, 255),rgb(255, 0, 238));
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-bottom: 20px;

    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
}
.current-time{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 10%;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;

}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #000;
    border-top: 2px solid #f9f9f9;
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
    
}
.title h1{
    margin: auto;
    font-size: 45px;
    font-weight: 600;

}
.counters{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height:30%;
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
}
.timer{
    margin-left:5%;
}
.stopwatch{
    margin-right: 5%;
}
.stopwatch h3{
    text-decoration-line: underline;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200%;
    margin-top: 10px;
}

form input{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align:center;
    color: rgba(0, 0, 0, 0.763);
    border:none;
    padding:10px;
    background: #D3D3D3;
    border-radius: 20px;
}
form button{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align:center;
    color: rgba(0, 0, 0, 0.763);
    border:none;
    padding:10px;
    background: #D3D3D3;
    border-radius: 20px;
    margin-top: 10px;
}
.add-mins{
    display: flex;
    width: 50%;
    
}
#start:hover{
    background: #0b980b;
}
#stop:hover{
    background: #9c0303;
}
#reset:hover{
    background: #aaa802;
}
#lap:hover{
    background: #153db7;
}
.timer h3{
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.laps{
    margin-top:5%;
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background: #D3D3D3;
    text-align: center;
    color: rgba(0, 0, 0, 0.763);
    border-radius: 20px;
}
.laps h3{
    text-decoration-line: underline;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.laps ul{
    padding: 5%;
    border-top: 2px solid rgba(0, 0, 0, 0.763);
}

.laps li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.763);
}
@media screen and (max-width: 450px){
    .title h1{
        font-size: 30px;
    }
    .current-time{
        font-size: 30px;
    }

}

@media screen and (max-width: 600px){
    .counters{
        flex-direction: column;
    }
    .timer{
        margin-left: 0;
    }
}